{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		{% for thread in threads %}
		{{thread.name}} - {{thread.subject}}
		{% endfor %}
	</div>
  <div class="col-sm-12">
    {{docs|markdown}}
  </div>
</div>
{% endblock %}
